<div class="row py-2">
    <div class="col-12">
        <h4 class="text-center">{{ titulo }}</h4>
    </div>
    <div class="col-6 offset-3">
        <form>
            <div class="form-group my-1">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Ingresar nombre..."
                #nombre
              />
            </div>
            <div class="form-group my-1">
              <label for="Imagen Url">Descripcion</label>
              <input
                type="text"
                class="form-control"
                id="imagenUrl"
                placeholder="Descripcion"
                #descripcion
              />
            </div>
            <button type="submit" class="btn btn-outline-primary mt-2" (click)="agregar(nombre.value,descripcion.value)">Guardar</button>
          </form>
    </div>
    <div>
</div>
<div class="row p-4">
    <ul class="list-group">
        <app-item *ngFor="let item of items" [item]="item">
        </app-item> 
    </ul>
</div>